extends layout

block content
  section
    header
      h1 Jonathon Sherrard
      h2 Full Stack Web Developer & Web Consultant
      h3 London, UK
      hr
    article#introduction
      :markdown
        __*Tl;dr;*__ Yep, I'm a coder. You've somehow had the misfortune of landing on *another* programmer's landing page. Read on if you want to know more about me:
        
        Well, naturally I'm well versed in a load of acronyms and buzz-frameworks, but the important thing is that I _love_ coding, and I'm a quick & efficient learner - so I'll be well versed in any future acronyms, frameworks, or languages.

        _“So, are there any reasons you're more interesting than the next Drupal, WordPress, Express, Hapi, Sinatra, Rails, Grunt, Gulp, Coffeescript, Browserify, Stylus, SASS, Jade, Twig, NPM, Composer, Bundle, Digital Ocean, AWS, S3, Cloudfront, Git, Bitbucket, Github, PostgreSQL, MYSQL, MongoDB, Vim, ZSH, TMUX, iTerm2, Ubuntu, OSX, web developer Jon?”_
        
        Well I know ~~everything~~ quite a lot about how to build and manage a HTML5 hybrid mobile app for cross-platform compatability and performance, just ask [Stylist UK](http://app.stylist.co.uk), - I wrote the HTML, CSS3, and JS for the frontend. If there's a bug or performance issue in running HTML5 apps in a native WebView, I've experienced it. 
  section
    header
      h2 Contacting me over the internet
      p My email is: j at and thats dot it, with no spaces and, well y'know.
//
  section
    header
      h3 Writing that Jon (me) has written:
    article#writing
      p
        a(href="#"): h4 How we manage media queries across hundreds of devices on Stylist UK's Newsstand App
        hr
      p
        a(href="#"): h4 Gulp is a productivity enhancement framework for developers
        hr



