.footer-wrapper(style='margin-top:80px')
    .container.footer-container
        .row
            .span4
                a(href='') www.chaffin.ch
            .span4.offset4
                a.txt-right(href='http://twitter.com/chaffinch', target='_blank') Twitter
                a.txt-right Chaffinch 2013
        include nav-list


