head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Jonathon Sherrard | Computerist
    link(href='www/css/fonts.css', rel='stylesheet')
    //link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href='www/css/bs.css', rel='stylesheet')
    link(href='www/css/c.css', rel='stylesheet')
