.row#nav-bar
    .span1
        a(href='index.html') Home
    .span1
        a(href='team.html') Team
    .span1
        a(href='reports.html') Reports
    .span1
        a(href='careers.html') Careers
    .span1
        a(href='contact.html') Contact
    .span1
        a(href='labs.html') Labs
    .span2.offset4
        a(href='tel:+442070339753').txt-right +44 (0) 20 7033 9753

