.graph
  display table
  table-layout fixed
  min-width 100%
  .bar-wrapper
    display table-cell
    height 100%
    width 1px
    position relative
    .bar
      background linear-gradient(bottom, #55EFCB, #5BCAFF)
      width 3px
      margin auto
      display block
      height 300px
