@import "fonts"
@import "normalize"
@import "nib"
global-normalize()
html, body
  height  100%
  font-family 'geomancyhairline', 'Arial', 'Helvetica', sans-serif
  font-size 16px
  font-size 100%
  line-height 1.46
  -webkit-font-smoothing: antialiaed
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
  color white
  background linear-gradient(top, #52EDC7, #5AC8FB)

#content
  max-width 1024px
  margin auto


.page-title
  font-size 5em
  color white

.page-sub-title
  font-size 3em
