@import 'nib'
@import 'bootstrap.min.css'
@import 'animate.css'
col-sm = "(min-width:768px)"
col-md = "(min-width:992px)"
html, body
  height 100%
  width 100%
  font-size 18px
  line-height 1.4em
  yellow = #ffdb4c
  background linear-gradient(yellow, lighten(yellow, 20%))
  //background lighten(#FFCC00, 20%)
*
  direction rtl
  unicode-bidi: bidi-override
  box-sizing border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Lato', sans-serif
  &:hover
    direction ltr
    unicode-bidi: normal
    text-align right

h1, h2, h3, h4
  font-family: 'Montserrat', sans-serif
  text-transform uppercase
a
  color rgb(51,51,51)
a:hover
    text-decoration: none
    color lighten(#c0392b, 20%)

.container-fluid
  max-width 1024px

.row.padded-row
  padding-top 30px

ul
  padding-left 18px
  
.parent
  margin 10px
  .wrapper
    overflow hidden
    display block
  span
    font-family: "Montserrat",  sans-serif
    text-transform uppercase
    width 100%
    margin-left auto
    margin-right auto
    right 0
    left 0
    font-size 10vw
    line-height 10vw
    &.small
      font-size 4vw
      line-height 4vw
    &.very-small
      font-size 2vw
      line-height 3vw

hr
  border-width 1vw
  display block
  border-color rgb(51,51,51)
  width 59vw
  float right
