extends ../templates/layout
block content
	:stylus
		article
			max-width 660px
		blockquote
			font-style italic
			margin 0px
			padding 20px 1em
			background rgb(250,250,250)
			border-radius 10px
		h3
			padding-bottom 30px
			text-transform none
	article
		h3#post-title The Coder.
		p The estate agent.
		p The surveyor.
		p The mortgage advisor.
		p The site manager.
		p The architect.
		p The interior designer.
		p The foundation layer.
		p The builder.
		p The carpenter.
		p The electrician.
		p The plumber.
		p The roofer.
		p The building inspector.
		h5.metadata #{created}
	include ../templates/footer
