extends ../templates/layout
block content
	:stylus
		article
			max-width 660px
		blockquote
			font-style italic
			margin 0px
			padding 20px 1em
			background rgb(250,250,250)
			border-radius 10px
		h3
			padding-bottom 30px
	article
		h3#post-title Life, Love, and Jeremy Hunt.
		p
			:markdown
				Our Government's health secretary has announced that inspectors found evidence of "poor care" in 11 hospitals investigated over high mortality rates. As such they will be put into special measures.

				Here is Jeremy Hunt's recent line to Parliament and 'The Press' (and implicitly the gen-pop):

				>'…mortality rates suggest that since 2005 thousands more people may have died than would normally be expected at the 14 trusts reviewed by Sir Bruce".

				This is an actual line on whether any conclusions like that could be made, __*in the report itself*__ :

				>"However tempting it may be, it is clinically meaningless and academically reckless to use such statistical measures to quantify actual numbers of avoidable deaths"

				So prepare for an onslaught of Government inquiries and reports trying to *sell* the idea the NHS is fundamentally flawed and cannot work. All the while subtly hinting that you're at risk because of it, or that people have already died due to *"significant/systematic failures"*.

				I wonder what their solution will be in a few months time? The Tories have affected a **£28 Billion** funding gap for the NHS in the next couple of years. It's not going to magically improve, is it? And you know why of course: because they don’t want it to.

				They'll say the money needed to *"heal the healthcare system”* - (or some other bullshitty phrase a-la ‘The Big Society’) - has to be made up from somewhere, and they'll re-iterate that you and your loved ones won't receive proper care, and there'll be more speculation about unnecessary deaths.

				The speculation will be presented and consumed as fact to those uninterested, those who’re tired after work and casually absorbing ‘The News”, and those trusting of their government to have their best interests at heart. 

				People like me will be pissed off without a clue how to stop it, feel frustrated and defeated, and just let off steam on Facebook.

				Hey presto! Swathes of the public will nod their heads along to a wave of privatization. Then we're all well on the way to the madness of the American model of private healthcare and insurance. 


				Soon we’ll have sales reps for drug companies - GPs diagnosing anyone and everyone with anything, tempted by profit – Your families and friends that Jeremy Hunt warned would die unnecessarily are alive, but saddled with life long debt because of an accident or illness they had no control over.

				I think this is a good point for a reminder: The man in charge of the NHS, Jeremy Hunt the Health Secretary, is: 

				- A tax avoider.
				- An expenses fraudster. 
				- Was in charge of the Olympic G4S failures. 
				- Decided not to refer the News Corp takeover of BSkyB to the competition commission, why was that I wonder?

				>"Hunt had himself been in text and private email contact with James Murdoch, congratulating him on the progress of the takeover bid, before he took over responsibility for adjudicating on the bid." 

				- Best of all: ***He co-authored a book in 2005 saying the NHS should be dismantled.***

				**He does not give a shit about humans.**

				----
				A brief pause for some Albert Einstein before I have an aneurysm:

				>"A hundred times every day I remind myself that my inner and outer life are based on the labours of other people, living and dead, and that I must exert myself in order to give in the same measure as I have received and am still receiving".

				I am so very happy to pay taxation and national health insurance so that anyone in world has access to free health care on our little island.
				I believe it is a fantastic, civilized, evolutionary-leap of a creation. 

				Types of humans that I love: 

				- Weird humans

				- Humans on the other side of the world

				- Humans that make bad decisions

				- Humans that have had shitty lives stuck in a cycle of shitty-ness. 

				All of ‘em, every one. So naturally I think it’s best if they’re all healthy and alive.

				If people fundementally stop wanting to care for others,  or get convinced by people in high places that they don’t want to – we’re all in trouble. 

				Every decade has been a leap forward in equality, knowledge, unity, understanding, compassion, peacefulness; the list goes on and on.  Life is getting better all the time. 

				We’re rushing forwards towards an enlightened, caring majority. Britain should be proud to set an example for the world, as we’ve always been in many endeavours, instead of taking a massive step back.






				P.S Tax Avoidance, costs the UK $70 billion.





  
		h5.metadata #{created}
	include ../templates/footer
