extends layout

block page
  .parent
    .wrapper
      span.top-row Jonathon
    .wrapper
      span.bottom-row Sherrard
    .wrapper
      hr
    .wrapper
      span.small Computerist
    .wrapper
      span.small &mdash;
    .wrapper
      a(href="mailto:?subject=HTML-O%20JON!&body=Hi%2C%0A%0A"): span.very-small j@andthats.it
    .wrapper
      a(href="http://github.com/jonsherrard"): span.very-small github
    .wrapper
      a(href="http://twitter.com/jshez"): span.very-small @jshez
    .wrapper
      a(href="http://verytr.es"): span.very-small verytr.&eacute;s
