!!!
html
    include templates/header
    body
        .body-wrapper
            .container.body-container
                .row
                .body-wrapper
            .container.image-container
                .row
                    .span8.offset2
                        h1.center Jonathon Sherrard. Computerist.
        .body-wrapper
            .container.body-container
                .row
                    .span8.offset2
                        img(src='www/img/laptop-front.png', width="60%")#screen-image
                        p.center (This is my actual screen).
        .body-wrapper
            .container.body-container
                .row
                    .span6.offset3
                        p
                            | I'm a JavaScript developer based in Shoreditch, London.
                        p 
                            | You can e-mail me on 
                            a(herf="mailto:j@andthats.it") j@andthats.it
                        p
                            | You can find me on twitter at 
                            a(href="http://twitter.com/jshez") @jshez
                        //p
                            | I've started writing at 
                            a(href="http://medium.com/@jshez") medium.com/@jshez
                        p
                            | You can find my code, including this site, on 
                            a(href="http://github.com/jonsherrard") github.com/jonsherrard
                            
