extends layout

block content

  #content
    img(src="http://i.imgur.com/p2jtlbR.jpg")

  .wrap
    h1.page-title Jonathon Sherrard
    h2.page-subtitle j@andthats.it
  p 
    | Oh lordy mercy. I'm making a little website for me on the internet. Are you googling me? I wonder why. Email if you are googling me and tell me why. I'd like to know! :)
    br
    br
    | Hope you're well!
    br
    br
    | Jon
    br
    br
    | x
    
