html
    include templates/header
    body
        .body-wrapper
            .container.body-container
                .row
                .body-wrapper
            .container.image-container
                .row
                    .span8.offset2
                        h1.center Jonathon Sherrard. Computerist.
        .body-wrapper
            .container.body-container
                .row
                    .span8.offset2
                        img(src='www/img/laptop-front.png', width="60%")#screen-image
                        p.center (This is my actual screen).
        .body-wrapper
            .container.body-container
                .row
                    .span4.offset3
                        ul
                            li Node proponent.
                            li Production user of Backbone.
                            li UI shunning terminal maniac.
                    .span4
                        ul
                            li Sportz Fan.
                            li Thinker.
                            li Drinker.
