!!!
html
  head
    title #{title}
    link(rel='stylesheet', href='css/main.css')
  body
    #content
      block content
    each script in scripts
      script(type='text/javascript', src='#{script}')
    script(type='text/javascript', src='js/script.js')


