// Mobiles
smallMobileOnly = "(max-width:320px)"
smallMobilesAndUp = "(min-width:320px)"

// Tablets
smallTabletsAndUp = "(min-width:533px)"
ipadAndUp = "(min-width:768px)"
ipadOnly = "(min-width:768px) and (max-width:768px)"
largeTabletsAndUp= "(min-width:800px)"

// Desktops
smallDesktopAndUp = "(min-width:1024px)"
mediumDesktopAndUp = "(min-width:1366px)"
largeDesktopAndUp = "(min-width:1680px)"
extraLargeDesktopAndUp = "(min-width: 1920px)"

// Special 
retinaOnly = "(-webkit-min-device-pixel-ratio: 2.0) and (-webkit-max-device-pixel-ratio: 2.0)"
