black = #333333
white = rgb(253,253,253)

html, body
  min-width 100%
  min-height 100%

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color white
  color black
  font-family Georgia, Times, "Times New Roman", serif
  line-height 1.5

img
  display block
  margin auto
  width 100%

