html{height:100%;width:100%}
body{height:100%;width:100%;font-family:'Chaf';font-weight:normal;font-size:1em;color:#2e2e2e;padding:0 !important;background:#f5f5f5}
img{display:block;margin:auto}
.container{padding-left:20px;padding-right:20px}
h1,h2,h3,h4,h5{font-weight:normal}
a,a:visited,a:hover{cursor:pointer;color:#521ed6;line-height:1.4}
#title{margin:10px 0}
#title-bar{margin-top:0}
.header-wrapper{background:#f5f5f5;color:#521ed6;}
.header-wrapper a,.header-wrapper a:hover,.header-wrapper a:visited{color:#521ed6}
.header-wrapper hr{border-color:#521ed6}
.footer-wrapper{background:#2e2e2e;color:#f5f5f5;min-height:50px;bottom:0;width:100%;}
.footer-wrapper a,.footer-wrapper a:hover,.footer-wrapper a:visited{margin:20px 0;color:#f5f5f5;display:block}
.txt-right{text-align:right;display:block}
.txt-center{text-align:center;display:block}
.center{text-align:center}
.body-wrapper{margin-top:20px;}
.body-wrapper hr{border-color:#2e2e2e}
#page-container{min-height:100%;position:relative}
#bird-image{margin:200px auto}
@media (max-width: 767px){.txt-center,.txt-right{display:inline;text-align:left}
.body-wrapper{padding-bottom:20px}
.footer-wrapper{position:relative;width:auto}
}